h1 {
	color: #d811df;
	font-size:200%;
}
p {
	font-family: "comic sans";
	text-indent: 20px;
	margin-left: 20px;
}
#content {
	background-color: #c3b6da;
	width: 500px;
	min-height: 300px;
	padding: 10px;
	margin: 200px;
	border: solid 10px #444444;
	font-size: 20px;
}
